#picture-text{
    padding-top: 0px;
    padding-bottom: 0px;
}
.footer-basic{
    padding-top: 0px;
}


.picture-text-content {

   
    margin-left: -1000px;
    width: 800px;
    text-align:center;
   padding: 10px;
   margin-top: -1200px;
   white-space: nowrap;
   left: 82%;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.7); /* Hier kannst du die Transparenz anpassen (0.4 steht für 40% Transparenz) */
   color: white;
   border-radius: 10px;

}

.backround {
    width: 90%;
    padding: 2rem 0 0 0;
}
.klaus{
    font-size: 21px;
}
.klaus1{
    font-size: 19px;
}