body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Lato', sans-serif;
}

/* FOOTER STYLES */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 1;
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  z-index: 1;
}

/* Überschrift für Kontaktinformationen */
.contact-heading {
  font-size: 50px;
  font-weight: bold;
  margin-top: 175px;
  margin-left: 400px;
  color: black;
  font-family: 'Serifenschrift', serif;
}

/* Kontaktinformationen */
.contact-info {
  display: flex; /* Damit die Kontaktinformationen nebeneinander angezeigt werden */
  justify-content: space-between; /* Gleichmäßiger Abstand zwischen den Kontaktinformationen */
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Serifenschrift', serif;
}

/* Stil für jede Kontaktinformation */
.contact-info-email,
.contact-info-adress,
.contact-info-phone {
  flex: 2; /* Gleichmäßiger Platz für jede Kontaktinformation */
  margin-right: 50px; 
  margin-top: 150px;
 border: 2px solid;
 margin-left: auto;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
 
  text-align: center;
  font-family: serif;
}
.contact-smalltext {
  margin-right: 50px;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  font-family: 'Serifenschrift', serif;
  color: #6b6b6b;
}
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
  padding-bottom: 0;
}

/* Großer schwarzer Hintergrund mit Transparenz hinter dem Text "Kontaktieren Sie uns" und dem Textabschnitt */
.background-box {
  position: absolute;
  top: 120px; 
  left: 284px; 
  width: 67.5%;
  height: 30%; /* Hier kannst du die Transparenz anpassen (0.4 steht für 40% Transparenz) */
  border:2px solid #000000;
}
.container{
  width: 100%;
}