body {
    background: #fafbfb;
  }
  
  
  /* FOOTER STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer {
    position: fixed;
    right: 0;
    bottom: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    z-index: 1;
  }
  
  .page-footer a {
    display: flex;
    margin-left: 4px;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: white;
    padding: 5px;
    text-align: center;
    z-index: 1;
}


