/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Lato', sans-serif;
}

/* Header styles */
header {
    background-color: #ffffff;
}
.d-inline-block {
    display: inline-block!important;
    width: 150px;
    height: 40px;
}
/*.navbar {
   
    padding: 1rem 0;
}*/
/* Sticky Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the background color as needed */
    padding: 10px 0; /* Adjust the padding as needed */
    transition: all 0.3s ease; /* Add smooth transition effect */
}

/* Reduce navbar padding and font size when scrolled */
.navbar.scrolled {
    padding: 10px 0; /* Adjust the padding as needed */
}

.navbar-brand.scrolled {
    font-size: 1.2rem; /* Adjust the font size as needed */
}


.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    color: white !important;
}

.carousel-item img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

/* Hero section styles */
.hero {
    /* Add a background color to the hero section */
    color: black; /* Text color for the hero section */
    text-align: center;
    padding-top: 8px; /* Add top padding to center the text */
    padding-bottom: 0;
}

.hero h1 {
    font-size: 2.5rem;
}

/* Features section styles */
.features {
    padding: 50px 0;
}

.features .card {
    border: none;
    transition: transform 0.3s ease;
}

.features .card:hover {
    transform: translateY(-10px);
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
}

.carousel {
    width: 100%;
}

.carousel-inner {
    width: 100%;
}

.carousel-item {
    width: 100%;
    max-width: 100%; /* Add this line to ensure the image doesn't exceed its parent width */
    height: 800px;
}

section img {
    max-width: 100%;
    /*height: auto;
    */
    height: 50%;
}

/*MAIN CONTAINER*/
#picture-text {
    position: relative;
    background: white;
    padding: 2rem 0;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*UNCOMMENT TO SWITCH */
    /*flex-direction: row-reverse;*/
}



/*IMAGE*/
#picture-text img {
    height:450px;
    width: 450px;
    object-fit: cover;
    object-position: center center;
}



/*TEXT CONTAINER*/
.picture-text-content {
    width: 50ch;
}


/*SMALL HEADING*/
.picture-text-content h4 {
    color: teal;
    letter-spacing: .4rem;
    text-transform: uppercase;
    font-size: .8rem;
}

/*BIG HEADING*/
.picture-text-content h2 {
    font-size: 2.8rem;
    margin: 1rem 0;
    font-weight: 400;
}

/*PARAGRAPH TEXT*/
.picture-text-content p {
    opacity: .8;
    font-weight: 300;
    line-height: 1.6;
}








/*TABLET*/
@media screen and (max-width: 960px) {
    .picture-text-content {
    width: 70%;
    padding: 1rem;
    }
    .picture-text-content h2 {
    font-size: 2.2rem;
    }
}


/*MOBILE*/
@media screen and (max-width: 600px) {
    #picture-text {
        flex-direction: column;
        padding: 2rem 0;
        gap: 0;
    }
    #picture-text img {
        width: 90vw;
        height: 300px;
    }
    .picture-text-content {
    width: 90%;
    padding: 2rem 0 0 0;
    }
    .picture-text-content h2 {
    font-size: 2rem;
    }
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {

--bs-gutter-x: 0;
--bs-gutter-y: 0;
width: 100%;
margin-right: auto;

}

.bg-black {
    background-color: #ffffff;
}

#logo {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.navbar-brand {
    padding: 14px 20px;
    font-size: 16px;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    padding: 6px 14px;
    text-align: center;
}

.nav-link {
    padding-bottom: 10px; 
}

.v-line {
    background-color: gray;
    width: 1px;
    height: 20px;
}
.b-line {
    background-color: gray;
    width: 1px;
    height: 20px;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

@media (max-width: 576px) {
    .nav-item {
        width: 100%;
        text-align: left;
    }

    .v-line {
        display: none;
    }
}

.nav-kontakt{
position: fixed;
right: 10px;
    padding-top: 6px;
}


.navbar.bg-dark {
    background-color: white !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: black !important;
}

